.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #ac3232;
    font-weight: bold;
}

table {
  color: #111;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  border-radius: 0px;
  overflow: hidden;
  margin: 15px 0;
  min-width: 500px;
  background: #fc7f2d;
}

.header-row {
    background: rgb(39, 26, 158);
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}

.data-row:nth-child(odd) {
    background-color: orange;
}

/* .data-r0w:nth-child(even) {
    background-color: lightblue;
} */