<!-- <p>orbit-list works!</p> -->
<!-- <app-orbit-list [satellites]="displayList"></app-orbit-list> Why put here and not app.component.html???-->
<h3>Orbit Report</h3>
<table>
    <tr class="header-row">
        <th class="sortable" (click)="sort('name')">Name</th>
        <th class="sortable" (click)="sort('type')">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
    <tr class="data-row" *ngFor="let satellite of satellites">
        <td>{{satellite.name}}</td>
        <td [class.warning]= "satellite.shouldShowWarning()">{{satellite.type}}</td>  <!-- 6 modified here -->
        <td>{{satellite.operational}}</td>
        <td>{{satellite.orbitType}}</td> 
        <td>{{satellite.launchDate}}</td>      
    </tr>
</table>

<!-- name: string, type: string, launchDate: string, orbitType: string, operational: boolean --> 